body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( #00000000, rgba(6, 6, 43, 0.795)), url(../img/ip6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(9, 21, 61);
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    order: 1; 
    float: right;
    z-index: 10;
}

.Logo{
    width: 100px;
}

.bar {
    background-color: blue;
    width: 30px;
    height: 3px;
    margin: 3px 0;
}

.text-box {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3em;

}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #f4f3f7;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #e20a0a;
    background: #e20a0a;
    transition: 1s;
}


.Course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #38098f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.course-col {
    flex-basis: 31%;
    background: #dcdae4;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 16px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    height: 200px;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

}

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover {
    background: rgba(108, 110, 230, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50px;
}

@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        transition: left 0.3s;
        z-index: 5;
    }

    .nav-links li{
        text-align: center;
        padding: 30px 0;
        font-size: 20px;
    }

    .nav-links.active {
        left: 0;
        width: 100%;
    }

    .nav-links a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
    }

    .text-box h1{
        font-size: 2em;
    }

    .course-col {
        flex-basis: 31%;
        background: #dcdae4;
        border-radius: 5px;
        margin-bottom: 5%;
        padding: 16px 12px;
        box-sizing: border-box;
        transition: 0.5s;
        height: auto;
    }
}
